*{
    margin: 0;
    padding: 0;
}
.navbar{
   
    font-weight: bolder;
}
.nav li{
    color: white;
    margin: 0px 10px;
    font-weight: 100;
    
}
.photo img{
    height: 350px;
    width: 100%;
    margin-bottom: 20px;
}
.section .row div {
    margin: 0px 40px;
}
.artical .row img{
    height: 200px;
}
.hp{
    background-color: rgb(33, 32, 32);
    color: white;
    
}
 .hp .row div{
    margin: 0px 20px;
    font-size: 10px;
    
    
 }
 